
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*: before,*: after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a: focus, a: active{outline: none;}

nav, footer, header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:vizited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
	background-color: #e8e8e8;
}

.content {
	padding: 125px 0 103px 0;
	max-width: 841px;
	margin: 0px auto;
}
.content_header {
	text-align: center;
	margin: 0px 0px 70px 0px;
}
.content_header_metka {
	opacity: 0.6;
	color: #273d46;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	margin: 0px 0px 15px 0px;
}
.content_header_zagolovok {
		/* Style for "Donec sed" */
	width: 725px;
	height: 75px;
	color: #273d46;
	font-family: "Times New Roman PSMT";
	font-size: 36px;
	font-weight: 400;
	line-height: 50px;
}
.content_inf {}
.content_bottom {}
.content_bottom_opisanie {}
.abz1 {}
.abz2 {}
.content_bottom_perechen {}
.content_bottom_knopka {}